{% load i18n %}
<h1>{% trans 'Hello' %}</h1>

{% if is_subscription %}
{% if is_global_unsubscription %}
<p>{% trans 'You have been globally unsubscribed and added to our deny list. You will not get any more messages from us.' %}</p>
{% else %}
<p>{% trans 'Thank you for confirming your email. You will now be added to the mailing list.' %}</p>
{% endif %}
<p><a href="{% url 'mailinglist:subscriptions' token %}">{% trans 'Manage Subscriptions' %}</a></p>
{% else %}
<p>{% trans 'The token in the URL is invalid! Sorry.' %}</p>
{% endif %}