{% load i18n %}
{% if is_subscription %}
<h1>{% trans 'Sorry to see you go!' %}</h1>
<p>{% trans 'But we totally understand, and we respect your decision' %}</p>
{% else %}
<h1>{% trans 'No Subscription Found' %}</h1>
<p>{% trans "Bad news. We couldn't find your subscription." %}
{% trans 'The token in the URL is invalid! Sorry.' %}
{% trans 'Only the URL in your newsletter email will work!' %}
{% url 'mailinglist:global_deny' as deny_url %}
{% blocktrans with deny_url=deny_url %}Alternately, you can <a href="{{ deny_url }}">globally unsubscribe from all mailing lists on this site.{% endblocktrans %}</a>
</p>
{% endif %}