{% load i18n %}
<p>{% trans 'Hello,' %}</p>
<p>{% blocktrans with name=subscription.mailing_list.name %}You have indicated that you wish to join the mailing list "{{ name }}". If you have received this message in error, kindly ignore it.{% endblocktrans %}</p>
<p>{% trans 'If you do wish to join the mailing list please click the link below' %}:</p>
<a href="{{ BASE_URL }}{% url 'mailinglist:subscribe_confirm' subscription.token %}">{% trans 'Confirm email and join mailing list' %}</a>
<p>{% trans 'Thanks' %}, {{ subscription.mailing_list.sender }}</p>
